---
import { Image } from "astro:assets";
import type { ProductsEntry } from "@/types";
import Button from "@components/common/Button.astro";

interface Props {
  entry: ProductsEntry;
}

const { entry } = Astro.props;
const { title, image, imageAlt, price, currency } = entry.data;
---

<div class="h-full m-2 pl-0 bg-gradient-to-br gradient rounded-lg intersect:animate-fadeUp opacity-0">
  <div class="glass h-full rounded-lg">
    <a class="group hover:opacity-100 block" href={`/products/${entry.id}`}>
      <div class="relative rounded-lg pb-9/16 overflow-hidden">
        {
          image && (
            <Image
              class="absolute rounded-lg object-cover w-full h-full group-hover:scale-[105%] transition-all duration-300"
              src={image}
              alt={imageAlt}
              width={1280}
              height={720}
              loading="eager"
            />
          )
        }
      </div>
    </a>
    <div class="p-3">
      <h4 class="mb-1">
        <a href={`/products/${entry.id}`}>{title}</a>
      </h4>
      <div class="flex items-center justify-between">
        <div class="font-semibold">{price} {currency}</div>
        <Button label="檢視" link={`/products/${entry.id}`} type="secondary" />
      </div>
    </div>
  </div>
  
</div>

