---
import type { ProductsEntry } from "@/types";
import BaseLayout from "@components/base/BaseLayout.astro";
import Button from "@components/common/Button.astro";
import { Image } from "astro:assets";
import { render } from "astro:content";
import { markdownify } from "@lib/textConverter";

interface Props {
  entry: ProductsEntry;
}

const { entry } = Astro.props;
const { title, description, summary, image, imageAlt, price, currency, paymentUrl } = entry.data;
const { Content } = await render(entry);
const metaDescription = summary || description || undefined;
---

<BaseLayout title={title} description={metaDescription} image={image?.src}>
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10 flex flex-wrap content-start">
          <h1 set:html={title} class="p-2 col basis-full min-w-72" />

          {
            image && (
              <div class="col basis-2/3 p-2 min-w-72">
                <div class="glass rounded-lg intersect:animate-fadeDown opacity-0">
                  <Image
                    class="w-full rounded-lg"
                    src={image}
                    alt={imageAlt}
                    width={1920}
                    height={1080}
                    loading="eager"
                  />
                </div>
              </div>
            )
          }

          <section class="col basis-1/3 p-2 min-w-72">
            <div class="glass rounded-lg p-4 h-full intersect:animate-fadeUp opacity-0">
              <div class="mb-4 text-2xl font-bold">{price} {currency}</div>
              <div class="mb-4">
                <Button label="前往付款" link={paymentUrl} newtab={true} type="primary" />
              </div>
              {metaDescription && (
                <div class="content text-sm text-txt-light dark:text-darkmode-txt-light">
                  <div set:html={markdownify(metaDescription, true)} />
                </div>
              )}
            </div>
          </section>

          <section class="col basis-full p-2 min-w-72">
            <div class="glass rounded-lg p-4 intersect:animate-fadeUp opacity-0 content">
              <Content />
            </div>
          </section>
        </article>
      </div>
    </div>
  </section>
</BaseLayout>
